form {
    padding: 10px;
}
form .field li {
    margin: 0 0 15px;
}
label em { color: red; }
.err_string {
    margin: 0 4px;
    font-size: 12px;
    color: red;

}

.i {
    padding: 5px 0;
}
.error {
    border-color: red;
}

small {
    font-size: 12px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none
}