body {
    background-color: #1D1F22;
}
.sidebar {
    width:256px;
    /*border:1px solid maroon;*/
}
#headerSide {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #ABACAD;
}

hr{
    color:#252729
}

.sidebarentry {
    width:256px;
    height:44px;
    /*border:1px solid yellow;*/
    margin: 10px 0 10px 0;
    padding: 0;

}

.topsongsimg {
    /*
    border: 1px solid white;
    */
    /*display: inline-block;*/
    width:44px;
    height:44px;
    float:left;

}
.topsongsimg img {
    border-radius: 22px;
    /*border: 1px solid darkblue;*/
    width:44px;
    height:44px;
}

.songdetails {
    /*display: inline-block;*/
    height:44px;
    padding-left:53px;
    margin: 0;
    /*border: 1px solid lightseagreen;*/


  /*  float:left;*/

}

.songtitle {
    /*border:1px solid green;*/
    color: #0294D3;

}

.artist {
    /*
    display:block;
    */
   /* border:1px solid red;*/
    color: #B9B9B9;

}