#trStep1{
    background:blue;
}
#trStep2{
    background-color:Silver
}
#trStep3{
    background-color:Silver
}
#trStep4{
    background-color:Silver
}
#trStep5{
    background-color:Silver
}
#trStep6{
    background-color:Silver
}